doctype html
html
  body
    h1 Basic Clever Control Panel
    form(action="http://127.0.0.1:8081/clever" method="GET")
      label Clever Command:
      br
      input(type="text" name="command")
      br
      label Arg:
      br
      input(type="text" name="arg")
      br
      input(type="submit" value="Submit")
    form
  body
html
