doctype html
html
  head
    title File Upload
  body
    form( action='http://127.0.0.1:8081/upload', method='post', encType="multipart/form-data")
      input( type="text", name="title" )
      input( type="file", name="upload", multiple="multiple")
      input( type='submit', value='Upload' )
