<h1>Radio Control Panel</h1>

<p>Forms</p>
<a href="/get-events">View all events</a><br>
<a href="/add-event">Add new event</a><br>
<a href="/file-upload">Upload a file</a><br>
<a href="/clever-cmd">Execute a clever command</a><br>
